{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://fluidtypo3.org/schemas/fluid-master.xsd"
     xmlns:flux="http://fluidtypo3.org/schemas/flux-master.xsd"
     xmlns:v="http://fluidtypo3.org/schemas/vhs-master.xsd">

    <f:layout name="Content"/>

    <f:section name="Configuration">

        <flux:form wizardTab="CFM Inhalts Module" id="module2" icon="{v:extension.path.resources(path: 'Icons/icon-cfm.gif')}">
            <flux:field.input name="titlesmall"/>
            <flux:field.input name="title"/>
            <flux:form.section name="elements">
                <flux:form.object name="slide">
                    <flux:field.file name="image" />
                    <flux:field.text name="title" rows="1" cols="60" enableRichText="false"/>
                    <flux:field.text name="text" rows="8" cols="60" enableRichText="false"/>
                </flux:form.object>
            </flux:form.section>
        </flux:form>


    </f:section>

    <f:section name="Main">
        <div class="modul_2">
            <div class="row">
                <div class="columns large-12">
                    <div class="columns large-2">&nbsp;</div>
                    <div class="columns large-8 modul_2_content center" >
                        <h3>{titlesmall}<br />
                            <b>{title}</b>
                        </h3>
                        <f:if condition="{elements -> f:count()}">
                        <f:then>
                            <script type="text/javascript">
                                <![CDATA[$(document).ready(function(){ ]]>
                                    $('.slidermodule02_{record.uid}').slick({
                                        accessibility: true,
                                        arrows: true,
                                        infinite: false,
                                        autoplay: false,
                                        autoplaySpeed: 5000,
                                        dots: false,
                                        slidesToShow: 3,
                                        slidesToScroll: 1
                                    });
                                });

                                function slideTo{record.uid}<![CDATA[(object, content){ ]]>
                                    parentobj = $(object).parent().parent().parent();
                                    $(parentobj).find("div.slidermodule02_{record.uid}").slickGoTo(content -1);
                                    $(object).parent().parent().children().each(function(tempObj){
                                        console.log( tempObj + ": " + $( this ).text() );
                                        $(this).find("a").removeClass('active');
                                    });
                                    $(object).addClass('active');
                                    }
                            </script>
                            <f:if condition="{elements -> f:count()}"></f:if>
                            <div class="row">
                                <div class="column large-1"><f:comment><f:image class="vmiddle" src="/image/slider/slidermodule02arrowleft.png" /></f:comment></div>
                                <div class="column large-10 slider slidermodule02_{record.uid}">
                                    <f:for each="{elements}" as="element" iteration="iteration">
                                        <div class="slidercontent copytext center">
                                            <f:image src="/{element.slide.image}" /> <br />
                                            <h4>{element.slide.title}</h4>
                                            {element.slide.text}

                                        </div>
                                    </f:for>
                                </div>

                                <div class="column large-1"><f:comment><f:image class="vmiddle" src="/image/slider/slidermodule02arrowright.png" /></f:comment></div>
                            </div>

                        </f:then>
                        </f:if>
                    </div>

                    <div class="columns large-2">&nbsp;</div>
                </div>
            </div>
        </div>


    </f:section>

    <f:section name="Preview">
        <table width="100%" border="0">
            <tr width="100%">
                <td colspan="3"><strong>Inhaltselement: Modul 2</strong></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    <h3>{titlesmall}<br />
                    <b>{title}</b></h3>
                </td>
            </tr>
            <tr>
                <f:if condition="{elements -> f:count()}">
                    <f:then>
                        <f:if condition="{elements -> f:count()} == 1">
                            <f:for each="{elements}" as="element" iteration="iteration">
                                <td style="text-align: center; padding-left: 5px; padding-right: 5px;" colspan="3">
                                    <img src="/{element.slide.image}" /> <br />
                                    <strong>{element.slide.title}</strong><br />
                                    {element.slide.text}
                                </td>
                            </f:for>
                        </f:if>
                        <f:if condition="{elements -> f:count()} == 2">
                            <f:for each="{elements}" as="element" iteration="iteration">
                                <td style="text-align: center; padding-left: 5px; padding-right: 5px; width: 49%">
                                    <img src="{element.slide.image}" /> <br />
                                    <strong>{element.slide.title}</strong><br />
                                    {element.slide.text}
                                </td>
                                <f:if condition="/{elements -> f:count()} == 2">
                                    <f:if condition="{iteration.isFirst}">
                                        <td style="width: 2%">&nbsp;</td>
                                    </f:if>
                                </f:if>
                            </f:for>
                        </f:if>
                        <f:if condition="{elements -> f:count()} > 2">
                            <f:for each="{elements}" as="element" iteration="iteration">
                                <f:if condition="{iteration.index} < 3">
                                    <td style="text-align: center; padding-left: 5px; padding-right: 5px;" width="33%">
                                        <img src="/{element.slide.image}" /> <br />
                                        <strong>{element.slide.title}</strong><br />
                                        {element.slide.text}
                                    </td>
                                    <f:if condition="{elements -> f:count()} == 2">
                                        <f:if condition="{iteration.isFirst}">
                                            <td width="1px">&nbsp;</td>
                                        </f:if>
                                    </f:if>
                                </f:if>
                            </f:for>
                        </f:if>
                    </f:then>
                    <f:else>
                        <td colspan="3" style="text-align: center; color: red">Sie haben keine Slide-Elemente hinzugefügt.</td>
                    </f:else>
                </f:if>

            </tr>

        </table>


    </f:section>


</div>
