{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://fluidtypo3.org/schemas/fluid-master.xsd"
     xmlns:flux="http://fluidtypo3.org/schemas/flux-master.xsd"
     xmlns:v="http://fluidtypo3.org/schemas/vhs-master.xsd">

    <f:layout name="Content"/>

    <f:section name="Configuration">

        {v:var.typoscript(path: 'plugin.tx_ecfmfluidcontent.settings') -> v:var.set(name: 'settings')}
        {f:if(condition: settings.gridColumns, then: settings.gridColumns, else: 12) -> v:var.set(name: 'numberOfColumns')}

        <flux:form wizardTab="CFM Inhalts Module" id="module6" icon="{v:extension.path.resources(path: 'Icons/icon-cfm.gif')}">
            <flux:form.sheet name="leftcontent">
                <flux:field.input name="titlesmall"/>
                <flux:field.input name="title"/>
                <flux:field.text name="text" />
                <flux:field.file name="leftimage" allowed="jpg,jpeg,bmp,png, gif" />
            </flux:form.sheet>

            <flux:form.sheet name="rightcontent">
                <flux:field.file name="rightfirstimage" allowed="jpg,jpeg,bmp,png, gif" />
                <flux:field.file name="rightsecondimage" allowed="jpg,jpeg,bmp,png, gif" />
                <flux:field.input name="buttontext"></flux:field.input>
                <flux:field.input name="target">
                    <flux:wizard.link activeTab="file"/>
                </flux:field.input>
            </flux:form.sheet>

            
        </flux:form>

    </f:section>

    <f:section name="Main">
        <table>
            <tr>
                <th colspan="2">Inhalt vom Typ: Modul 6</th>
            </tr>
            <tr>
                <td width="50%">
                    <f:if condition="lefttitle"><h2>{lefttitle}</h2></f:if>
                    <f:if condition="lefttext"><small>{lefttext}</small></f:if>
                </td>
                <td width="50%">

                </td>
            </tr>
        </table>


    </f:section>

    <f:section name="Preview">
        <table width="100%" border="0">
            <tr>
                <td colspan="3"><strong>Inhaltselement: Modul 6</strong></td>
            </tr>
            <tr>
                <td width="49%">
                    <f:if condition="titlesmall">{titlesmall}<br /></f:if>
                    <f:if condition="{title}"><b>{title}</b><br /></f:if>
                    <f:if condition="{text}"><f:format.crop maxCharacters="100">{text}</f:format.crop></f:if>
                </td>
                <td width="2%">&nbsp;</td>
                <td width="49%">

                </td>
            </tr>

        </table>


    </f:section>

    <f:section name="Value">col-md-{iteration.cycle}{f:if(condition: iteration.isLast, else: ',')}</f:section>









    <f:section name="SharedObjectFields">
        <flux:field.input name="header" label="Optional header for caption"/>
        <flux:field.text name="caption" label="Optional caption body text" enableRichText="TRUE"/>
        <flux:field.file name="iconImage" label="Optional Image for Navigation Dots"/>
    </f:section>

    <f:section name="Image">
        <f:image src="{elementData.file}" alt="{elementData.header}" width="{settings.carousel.width}"/>
    </f:section>

    <f:section name="Content">
        <div class="container">
            <flux:content.render area="{elementData.id}"/>
        </div>
    </f:section>

    <f:section name="Text">
        <div class="container">
            <f:if condition="{elementData.title}">
                <{elementData.size}>
                {elementData.title -> f:format.htmlentities()}
            </{elementData.size}>
            </f:if>
            {elementData.text -> f:format.html()}
        </div>
    </f:section>
</div>
