{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://fluidtypo3.org/schemas/fluid-master.xsd"
     xmlns:flux="http://fluidtypo3.org/schemas/flux-master.xsd"
     xmlns:v="http://fluidtypo3.org/schemas/vhs-master.xsd">

    <f:layout name="Content"/>

    <f:section name="Configuration">


        <flux:form wizardTab="CFM Slider" id="slider1" icon="{v:extension.path.resources(path: 'Icons/icon-cfm.gif')}">

            <flux:form.sheet name="sliderelements">

                <flux:form.section name="elements">

                    <flux:form.object name="slide">
                        <flux:field.text name="title" rows="1" cols="60" enableRichText="false"/>
                        <flux:field.text name="slidetext" rows="8" cols="60" enableRichText="true"/>
                    </flux:form.object>

                </flux:form.section>
            </flux:form.sheet>
        </flux:form>



    </f:section>

    <f:section name="Main">
        <f:if condition="{elements -> f:count()}">
            <f:then>
                <script type="text/javascript">
                    <![CDATA[$(document).ready(function(){ ]]>
                        $('.slidertype01_{record.uid}').slick({
                            accessibility: true,
                            arrows: false,
                            autoplay: false,
                            autoplaySpeed: 5000,
                            dots: false,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            width: "400px"
                        });
                    });

                    function slideTo{record.uid}<![CDATA[(object, content){ ]]>
                        parentobj = $(object).parent().parent().parent();
                        $(parentobj).find("div.slidertype01_{record.uid}").slickGoTo(content -1);
                        $(object).parent().parent().children().each(function(tempObj){
                            console.log( tempObj + ": " + $( this ).text() );
                            $(this).find("a").removeClass('active');
                        });
                        $(object).addClass('active');
                    }
                </script>
                <div class="row">
                    <div class="columns large-2"></div>
                    <div class="columns large-10 center">
                        <f:if condition="{elements -> f:count()}">
                            <f:for each="{elements}" as="element" iteration="iteration">
                                <f:if condition="{iteration.index} < 5">
                                    <a onclick="slideTo{record.uid}(this, {iteration.cycle});" <f:if condition="{iteration.isFirst}"> class="active"</f:if>><img class="slidertype01bt" src="/image/slider/slidertype1btcount{iteration.cycle}.png" /></a>
                                </f:if>
                            </f:for>
                        </f:if>

                    </div>
                    <div class="columns large-2"></div>
                </div>
                <div class="slider slidertype01_{record.uid}">
                    <f:if condition="{elements -> f:count()}">
                        <f:for each="{elements}" as="element" iteration="iteration">
                            <f:if condition="{iteration.index} < 5">
                                <div class="slidercontent copytext">
                                    <h4>{element.slide.title}</h4>
                                    <p><f:format.nl2br>{element.slide.slidetext  -> f:format.htmlentities()}</f:format.nl2br></p>
                                </div>
                            </f:if>
                        </f:for>
                    </f:if>
                </div>
            </f:then>
        </f:if>
    </f:section>

    <f:section name="Preview">
        <strong>Slider Typ 1</strong><br />
        <f:if condition="{elements -> f:count()}>5"><p style="color: red;">Es sind {elements -> f:count()} Elemente hinzugefügt, es können aber nur die ersten 5 angezeigt werden.</p></f:if>
        <f:if condition="{elements -> f:count()}">
            <f:then>
                Anzahl Elemente: {elements -> f:count()} <br />
                <table>
                    <tr>
                        <f:for each="{elements}" as="element" iteration="iteration">
                            <f:if condition="{iteration.index} < 5">
                                <td style="<f:if condition="{iteration.isFirst}"><f:then></f:then><f:else>padding-left: 5px; </f:else></f:if><f:if condition="{iteration.isLast}"><f:then></f:then><f:else>padding-right: 5px;</f:else></f:if>"><b>{element.slide.title}</b><br /><f:format.crop maxCharacters="80">{element.slide.slidetext}</f:format.crop></td>
                            </f:if>
                        </f:for>
                    </tr>
                </table>
            </f:then>
            <f:else>
                <p style="color: red;">Sie müssen Slide-Elemente hinzufügen, sonst kann nichts angezeigt werden.</p>
            </f:else>
        </f:if>

    </f:section>

    <f:section name="Value">col-md-{iteration.cycle}{f:if(condition: iteration.isLast, else: ',')}</f:section>



</div>
