{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://fluidtypo3.org/schemas/fluid-master.xsd"
     xmlns:flux="http://fluidtypo3.org/schemas/flux-master.xsd">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form wizardTab="gjo_content" id="buttonGroup"
                   icon="{v:extension.path.resources(path: 'Icons/icon-buttonGroup.gif')}">

            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column>
                        <flux:form.content name="content"/>
                    </flux:grid.column>
                </flux:grid.row>
            </flux:grid>

        </flux:form>
    </f:section>

    <f:section name="Preview">
        <flux:widget.grid/>
    </f:section>

    <f:section name="Main">
        <div class="btn-group">
            <flux:content.render area="content"/>
        </div>
    </f:section>

</div>
