{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://fluidtypo3.org/schemas/fluid-master.xsd"
     xmlns:flux="http://fluidtypo3.org/schemas/flux-master.xsd"
     xmlns:v="http://fluidtypo3.org/schemas/vhs-master.xsd">

    <f:layout name="Content"/>


    <f:section name="Configuration">

        <flux:form wizardTab="CFM Content-Module" id="module1" icon="{v:extension.path.resources(path: 'Icons/icon-cfm.gif')}">

            <flux:form.sheet name="leftContent">
                <flux:field.input name="leftTitle"/>
                <flux:field.input name="leftTitleSmall"/>
                <flux:field.text name="leftText" enableRichText="true"/>
            </flux:form.sheet>


            <flux:form.sheet name="rightContent">

                <flux:field.select name="mode" items="{
                                                    0:'-- Bitte wählen --',
                                                    text:'Text',
                                                    image: 'Bild',
                                                    slider: 'Slider'}" requestUpdate="TRUE" />

                <f:if condition="{0:mode} == {0:'text'}">
                    <flux:field.input name="rightTextTitle" />
                    <flux:field.text name="rightText" enableRichText="TRUE" />
                </f:if>

                <f:if condition="{0:mode} == {0:'image'}">
                    <flux:field.file name="rightImageFile" clear="1" maxSize="500" allowed="jpg, png" showThumbnails="1" requestUpdate="1" />
                    <flux:field.input name="rightImageAlt" />
                </f:if>

                <f:if condition="{0:mode} == {0:'slider'}">
                    <flux:form.section name="rightSlides">
                        <flux:form.object name="rightSlideElement">
                            <flux:field.input name="rightSlideTitle" />
                            <flux:field.text name="rightSlideText" enableRichText="true" />
                        </flux:form.object>
                    </flux:form.section>
                </f:if>

            </flux:form.sheet>
        </flux:form>

    </f:section>

    <f:section name="Preview">
        <table width="100%" border="0">
            <tr>
                <td colspan="3"><strong>CFM Content-Module 1</strong></td>
            </tr>
            <tr>
                <td width="49%">

                    <f:if condition="leftTitle">
                        <h2>{leftTitle}</h2>
                    </f:if>
                    <f:if condition="leftTitleSmall">
                        <h3>{leftTitleSmall}</h3>
                    </f:if>
                    <f:if condition="{leftText}">
                        <f:format.crop maxCharacters="100">{leftText}</f:format.crop>
                    </f:if>
                </td>

                <td width="2%">&nbsp;</td>

                <td width="49%">

                    <f:if condition="{0:mode} == {0:'text'}">

                        <f:if condition="rightTextTitle">
                            <h2>{rightTextTitle}</h2>
                        </f:if>
                        <f:if condition="{rightText}">
                            <f:format.crop maxCharacters="100">{rightText}</f:format.crop>
                        </f:if>

                    </f:if>

                    <f:if condition="{0:mode} == {0:'image'}">
                        <f:if condition="{rightImageFile}">
                            <img src="/{rightImageFile}" width="20%" alt="{rightImageAlt}"/>
                        </f:if>
                    </f:if>

                    <f:if condition="{0:mode} == {0:'slider'}">
                        <f:if condition="{rightSlides.1}">
                            <f:then>
                                <p>Es sind {rightSlides -> f:count()} Elemente hinzugefügt.<br />
                                Hier wird exemplarisch nur der Erste angezeigt.</p>
                                <f:if condition="{rightSlides.1.rightSlideElement.rightSlideTitle}">
                                    <h2>{rightSlides.1.rightSlideElement.rightSlideTitle}</h2>
                                    <br/>
                                </f:if>
                                <f:if condition="{rightSlides.1.rightSlideElement.rightSlideText}">
                                    <f:format.crop maxCharacters="100"><p>{rightSlides.1.rightSlideElement.rightSlideText}</p></f:format.crop>
                                </f:if>
                            </f:then>
                            <f:else>
                                <p>Es sind Keine Slide-Elemente vorhanden.</p>
                            </f:else>
                        </f:if>
                    </f:if>
                </td>
            </tr>
        </table>
    </f:section>

    <f:section name="Main">

        <div id="modul_1">
            <div class="row">
                <div class="columns large-12 pad_null">
                    <div class="columns large-6 bg_grey">
                        <div class="columns large-4 modul_1_links_leer">&nbsp;</div>
                        <div class="columns large-8 modul_1_links">

                            <f:if condition="leftTitle">
                                <h1 class="uppercase bgcolor_grey"><b>{leftTitle}</b></h1>
                            </f:if>
                            <f:if condition="leftTitleSmall">
                                <h1 class="uppercase bgcolor_grey">{leftTitleSmall}</h1>
                            </f:if>
                            <f:if condition="leftText">
                                <f:format.nl2br>{leftText}</f:format.nl2br>
                            </f:if>
                        </div>

                    </div>

                    <div class="columns large-6 bg_white pad_null">
                        <div class="columns large-8 modul_1_rechts">

                            <f:if condition="{0:mode} == {0:'text'}">
                                <f:if condition="rightTextTitle">
                                    <h1 class="uppercase bgcolor_grey">{rightTextTitle}</h1>
                                </f:if>
                                <f:if condition="{rightText}">
                                    <f:format.nl2br>{rightText}</f:format.nl2br>
                                </f:if>
                            </f:if>

                            <f:if condition="{0:mode} == {0:'image'}">
                                <f:if condition="{rightImageFile}">
                                    <img src="/{rightImageFile}" width="100%" alt="{rightImageAlt}"/>
                                </f:if>
                            </f:if>



                            <f:if condition="{0:mode} == {0:'slider'}">

                                <f:if condition="{rightSlides.1}">
                                        <f:for each="{rightSlides}" as="slide" iteration="iteration">
                                            <f:if condition="{slide.rightSlideElement.rightSlideTitle}">
                                                <td style="padding-right: 10px; border-right: 1px lightgray solid;">{count.cycle}:<b>
                                                    <f:format.crop maxCharacters="15">{slide.rightSlideElement.rightSlideTitle}</f:format.crop>
                                                    :</b>{slide.rightSlideElement.rightSlideText}<br/>
                                                </td>
                                            </f:if>
                                        </f:for>
                                </f:if>
                            </f:if>

                        </div>
                        <div class="columns large-4">&nbsp;</div>

                    </div>
                </div>
            </div>
        </div>

    </f:section>


</div>
